@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--foreground);
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}


h1, h2, h3, h4, h5, h6, a, li, span, button, input, textarea {
  font-family: var(--font-poppins), sans-serif;
}

p {
  font-family: var(--font-roboto), sans-serif;
}

/* REQUIRED FOR LENIS */
html,
body {
  height: auto !important;
  overflow: visible !important;
  scroll-behavior: auto !important; /* disable native smooth scroll */
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}




/* 1. Home Icon Animation */

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
    transform: translateX(-33.333%);

  }
}

.marquee-track {
  display: flex;
  width: max-content;
  animation: marquee 18s linear infinite;
}


/* 2. Testamonial Animation  */
@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-right {
  animation: scroll-right 10s linear infinite;
  -webkit-animation: scroll-right 10s linear infinite;
}

.animate-scroll-left {
  animation: scroll-left 10s linear infinite;
  -webkit-animation: scroll-left 10s linear infinite;
}